* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #E7E7E7;
  color: #191E27;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.introduction {
  background-color: #191E27;
  color: #E7E7E7;
  min-height: 100vh;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 10em;
  width: 100%;
}

.introduction__greeting {
  font-size: 2.25em;
  font-weight: 300;
  margin-bottom: 2em;
}

.introduction__text {
  font-size: 2.25em;
  font-weight: 300;
  margin-bottom: 1em;
  max-width: 20em;
}

.introduction__text b {
  font-weight: 700;
}

.social-links {
  height: 4em;
}

.social-links__item {
  display: inline-block;
  height: 4em;
  transition: transform .1s ease-out;
  width: 4em;
}

.social-links__item:hover {
  transform: scale(1.1);
}

.social-links__item:not(:last-child) {
  margin-right: 1.5em;
}

@media (max-width: 45em) {
  .introduction {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }

  .introduction__greeting {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .introduction__text {
    font-size: 1.5em;
    max-width: 100%;
  }

  .social-links {
    height: 3em;
    margin-top: 10em;
    text-align: center;
  }

  .social-links__item {
    height: 3em;
    width: 3em;
  }
}
